# Postgres Configuration
DATABASE_URL="postgresql://cxrlab:cxrlabpassword@localhost:5432/cxrlab?schema=public"

# SFTP Server Configuration
SFTP_HOST="192.168.0.200"
SFTP_PORT=22
SFTP_USERNAME="your-username"
SFTP_PASSWORD="your-password"
SFTP_ROOT_PATH="/"

# Alternative: SSH key-based auth (instead of password)
# SFTP_PRIVATE_KEY="-----BEGIN OPENSSH PRIVATE KEY-----\n...\n-----END OPENSSH PRIVATE KEY-----"

# The base URL of your CXR-Lab instance
NEXTAUTH_URL="http://localhost:3000"

# A secret key used to encrypt session data, can be anything.
NEXTAUTH_SECRET="your-secret-key-here"
